@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Atlas Grotesk", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text", Iowan Old Style, Times New Roman, Times, serif;
	--mono: 'Atlas Typewriter', Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--serif);
	--font-form: var(--sans);
	--color-bg: #111;
	--color-fg: #fff;
	--color-primary: var(--color-black);
	--color-link: var(--color-black);
	--color-link-hover: var(--color-black);
	--color-focus: var(--color-red);
	--color-mark: var(--color-yellow);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-gray-300);
	--color-button-fg: var(--color-gray-900);
	--color-button-hover: var(--color-gray-400);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

h1 {
	font-size: var(--48px, 48px);
}

h2 {
	font-size: var(--36px, 36px);
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

svg {
	display: block;
	width: 100%;
	height: auto;
}

.psv-container * {
	font-family: var(--mono);
    -webkit-font-smoothing: antialiased;
}

.annotation-value-0, .annotation-value-1, .annotation-value-2, .annotation-value-3 {
	opacity: 0;
	stroke-opacity: 0;
	transition: opacity 0.5s ease-in-out, stroke-opacity 0.5s ease-in-out;
	backdrop-filter: blur(2rem);
}
/* Apply fade styles for values 3-10 */


.value-0 .annotation-value-0 {
	opacity: 1;
	stroke-opacity: 1;
}


.value-1 .annotation-value-1 {
	opacity: 1;
	stroke-opacity: 1;
}

.value-2 .annotation-value-2 {
	opacity: 1;
	stroke-opacity: 1;
}

.value-2 .annotation-value-1 {
	opacity: 1;
	stroke-opacity: 1;
}

.value-3 .annotation-value-2 {
	opacity: 1;
	stroke-opacity: 1;
}

.value-3 .annotation-value-3 {
	opacity: 1;
	stroke-opacity: 1;
}

.delay-1 { transition-delay: 0s; }
.delay-2 { transition-delay: 0.5s; }
.delay-3 { transition-delay: 1s; }
.delay-4 { transition-delay: 1.5s; }
.delay-5 { transition-delay: 2s; }
.delay-6 { transition-delay: 2.5s; }


.container .psv-canvas-container {
	filter: brightness(1.2);
}

.container.value-0 .psv-canvas-container {
}

a {
	color: var(--color-fg);
	text-decoration: underline;
	text-decoration-color: var(--color-fg);
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
}

.scrolly-block {
	position: relative;
	height: calc(var(--height) * .5);
	/* height: 200px; */
	z-index: 1;
	/* background-color: rgba(255,255,0,0.5); */
	margin-bottom: calc(var(--height) * .5);
	/* margin-bottom: 100vh; */
}

.isFirst {
	/* margin-bottom: calc(var(--height) * 0); */
}

.isLast {
	margin-bottom: 0;
	padding-bottom: 100vh;
}


#intro2 .isFirst, #intro3 .isFirst {
	margin-top: calc(var(--height) * -0.5);
	/* padding-bottom: 0; */
	/* padding-bottom: 50vh; */
	/* height: calc(var(--height) * 1); */
	/* margin-bottom: calc(var(--height) * 1); */
	/* opacity: 0; */
}

#intro2 .isLast {
	/* padding-bottom: 0; */
	/* padding-bottom: calc(var(--height) * 2); */
	/* height: var(--height); */
	/* margin-bottom: calc(var(--height) * 2); */
	/* opacity: 0; */
}

#intro3 .psv-canvas-container, #intro3 .psv-markers {
	/* transform: scale(1.3); */
}